{
  "NEXT_PUBLIC_SUPABASE_URL": "https://ggownuwqyxmxfzszwnlj.supabase.co",
  "NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY": "sb_publishable_iCqN6uiXa524irdL4lKZpA_vEMJK1Pj",
  "GOOGLE_MAPS_API_KEY": "YOUR_GOOGLE_MAPS_API_KEY"
}
